<h1>Create New Planets</h1>

<form action="/planets" method="post">

    <div class="edit-box">
        <label for="">Name</label>
        <input type="text" name="name">
    </div>
    <div class="edit-box">
        <label for="">Diameter</label>
        <input type="text" name="diameter">
    </div>
    <div class="edit-box">
        <label for="">Distance</label>
        <input type="text" name="distance">
    </div>
    <div class="edit-box">
        <label for="">Mass</label>
        <input type="text" name="mass">
    </div>
    <div class="edit-box">
        <label for="">Moon Count</label>
        <input type="text" name="moon_count">
    </div>
    <div class="edit-box">
        <label for="">Image URL</label>
        <input type="text" name="image_url">
    </div>
    <div class="edit-button">
        <button>ADD</button>
    </div>
    <div>
        <a class="anchors" href="/">HOME</a> 
    </div>
</form>